<div class="card-columns">
  {{#each ideas}}
  <div class="card mb-3">
    <h4 class="card-header">{{title}}</h4>
    <div class="card-body">
      <p>{{details}}</p>
      <div class="text-muted text-right">
        <small>
          <input type="text" class="form-control-plaintext" placeholder="Autor: {{autor}}">
          <input type="text" class="form-control-plaintext" placeholder="Email: {{email}}">
        </small>
      </div>
    </div>
  </div>

  {{else}}
</div>
<div class="jumbotron text-center">
  <h1 class="display-4"> :( </h1>
  <h1 class="display-5">Nenhuma ideia encontrada.</h1>
  <p class="lead">Você pode contribuir com uma nova clicando <a href="/ideas/add">aqui.</a> ;)
  </p>
</div>
{{/each}}