<form action="/ideas/search" method="POST">
  <div class="form-group">
    <label for="theme">Selecione por curso: </label>
    <select id="title" name="title">
      {{#each themes}}
      <option value="{{curso}}" selected="selected">{{curso}}</option>
      {{/each}}
    </select>
    <button type="submit" class="btn mb-2 ml-2 btn-dark">Buscar</button>
    <a class="btn btn-success mb-2 " href="/ideas/add">Adicione uma ideia!</a>
    <a class="btn btn-info mb-2 " href="/ideas/myideas">Ver minhas sugestões</a>
  </div>

</form>
</div>
<div class="container">
  <div class="card-columns">
    {{#each ideas}}
    <div class="card border-info mt-3 mb-3">
      <h4 class="card-header text-white" id="cardb">{{title}}</h4>
      <div class="card-body">

        <blockquote class="blockquote mb-0">
          <h6>{{details}}</h6>
          <footer class="blockquote-footer">{{tema}}</cite>
          </footer>
        </blockquote>
      </div>
      <a class="btn btn-warning mb-2 ml-2" href="#" onclick="actOnPost(event);" data-card-id="{{ cardId }}">Like</a>
      <span id="likes-count-{{ cardId }}">{{ idea.likes_count }}</span>

      <div class="card-footer text-muted text-right">
        <small>
          <input type="text" class="form-control-plaintext" placeholder="Criado por: {{autor.name}}">
          <input type="text" class="form-control-plaintext" placeholder="Email: {{autor.email}}">
          <input type="text" class="form-control-plaintext" placeholder="{{moment date "calendar"}}">
        </small>

      </div>
    </div>
    {{else}}
  </div>
</div>
<div class="jumbotron text-center">
  <h1 class="display-4"> :( </h1>
  <h1 class="display-5">Nenhuma ideia encontrada.</h1>
  <p class="lead">Você pode contribuir com uma nova clicando <a href="/ideas/add">aqui.</a></p>
</div>
{{/each}}