<div class="container">
  <div class="card-columns">
    {{#each ideas}}
    <div class="card border-dark mt-3 mb-3">
      <h4 class="card-header">{{title}}</h4>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <h6>{{details}}</h6>
          <footer class="blockquote-footer">Curso: <cite title="curso">{{tema}}</cite>
          </footer>
        </blockquote>
      </div>

      <div class="collapse" id="detalhes">
        <div class="card-footer text-muted text-right">
          <small>
            <input type="text" class="form-control-plaintext" placeholder="Criado por: {{autor}}">
            <input type="text" class="form-control-plaintext" placeholder="Email: {{email}}">
            <input type="text" class="form-control-plaintext" placeholder="{{moment date "calendar"}}">
          </small>
        </div>
      </div>
    </div>
    {{else}}
  </div>
</div>
<div class="jumbotron text-center">
  <h1 class="display-4"> :( </h1>
  <h1 class="display-5">Nenhuma ideia encontrada.</h1>
  <p class="lead">Você pode contribuir com uma nova clicando <a href="/ideas/add">aqui.</a> ;)
  </p>
</div>
{{/each}}