<div class="container">
  <a class="btn btn-warning mb-2 ml-2 btn-lg" data-toggle="collapse" data-target="#detalhes" aria-expanded="false"
    aria-controls="detalhes" href="#">Detalhar</a>
  <a class="btn btn-lg btn-dark mb-2 ml-2 " href="/ideas/">Nova pesquisa</a>
  <a class="btn btn-lg btn-info mb-2 ml-2 " href="/ideas/">Voltar</a>

  </form>


  <div class="card-columns">
    {{#each ideas}}
    <div class="card border-dark mb-3">
      <h4 class="card-header">{{title}}</h4>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <h6>{{details}}</h6>
          <footer class="blockquote-footer">Curso: <cite title="curso">{{tema}}</cite>
          </footer>
        </blockquote>
        <div>
          <a class="btn btn-outline-warning btn-block mt-3 mb-2" href="#" onclick="actOnPost(event);" data-card-id="{{ cardId }}">Boa ideia!</a>
          <span id="likes-count-{{ cardId }}">{{ idea.likes_count }}</span>
          <form action="/ideas/{{idea.id}}?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <div class="form-group">
              <button type="submit" class="btn btn-block mb-2 btn-outline-dark">Adotar</button>
            </div>
          </form>
        </div>
      </div>
  
      <div class="collapse" id="detalhes">
        <div class="card-footer text-muted text-right">
          <small>
            <input type="text" class="form-control-plaintext" placeholder="Criado por: {{autor.name}}">
            <input type="text" class="form-control-plaintext" placeholder="Email: {{autor.email}}">
            <input type="text" class="form-control-plaintext" placeholder="{{moment date "calendar"}}">
          </small>
        </div>
      </div>
    </div>
    {{else}}
  </div>
  <div class="jumbotron text-center">
    <h1 class="display-4"> :( </h1>
    <h1 class="display-5">Nenhuma ideia encontrada.</h1>
    <p class="lead">Você pode contribuir com uma nova clicando <a href="/ideas/add">aqui.</a> ;)
    </p>
  </div>
  {{/each}}
</div>